<section id="projects" class="projects-section" style="background: #0B0B0B">
        <div class="container">
    
    
          <!-- Project Two Row -->
          <div class="row justify-content-center no-gutters">
              <div class="col-lg-6">
                <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
              </div>
              <div class="col-lg-6 order-lg-first">
                <div class="text-center h-100 project" style="background: #0B0B0B">
                  <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                      <h4 class="text-white" style="font-family: angry; font-size: 35px;">404 Tu t'es trompe d'URL mon pote</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Project Two Row -->
          <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                  <div class="text-center h-100 project" style="background: #0B0B0B">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white" style="font-family: angry; font-size: 35px;"></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Project Two Row -->
          <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                  <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                  <div class="text-center h-100 project" style="background: #0B0B0B">
                    <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white" style="font-family: angry; font-size: 35px;"></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>