<div class="container-fluid boutique">
    <section class="container-fluid">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <h3 style="font-family: angry;" class="text-white mb-4">Venez tenter votre chance dans la nouvelle escape game, Joke's on You</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="text-white-50" style="margin-bottom: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, necessitatibus delectus! Placeat quidem amet dolor deserunt, eius sit ab laboriosam exercitationem nihil, tenetur unde, voluptatibus quam? Quisquam esse enim quaerat!</p>
          </div>
        </div>
      </section>
  <div class="container">
    <form>
      <div class="row">
        <div class="col">
          <label class="control-label" for="date">Nom</label>
          <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
          <label class="control-label" for="date">Prénom</label>
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
      </div>
    </form>
  </div>

      <div class="container"style="margin-top: 10px; text-align: center;">
       <div class="row">
        <div class="col-md-12 col-sm-6">
     
         <!-- Form code begins -->
         <form method="post">
           <div class="form-group"> <!-- Date input -->
             <label class="control-label" for="date">Date</label>
             <input class="form-control" id="date" name="date" placeholder="JJ/MM/AAAA" type="text"/>
           </div>
           <div class="form-group">
              <label for="exampleInputEmail1">Adresse Mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre adresse mail">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
           <div class="form-group"> <!-- Submit button -->
            <a href="boutique" class="btn btn-primary js-scroll-trigger">Envoyer</a>
           </div>
          </form>
          <!-- Form code ends --> 
     
        </div>
      </div>    
     </div>
  