@font-face {
    font-family: angry;
    src: url("assets/font/angryMob.otf") format("opentype");
}

@font-face {
    font-family: dirty;
    src: url("assets/font/dirtyJokes.ttf") format("truetype");
}