<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center row col-4 col-md-6">
    <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Joke's On You</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Vous cherchez des indices ?</h2>
          <a href="home" class="btn btn-primary js-scroll-trigger">Indice</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section style="background: #161616" id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 style="font-family: angry;" class="text-white mb-4">Joker's Blog</h2>
        <p class="text-white-50">J'ai caché quelques indices dans ce blog arrivez vous à les trouver ? D'ailleurs le premier commence ici.
          <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw">C'est bien ça</a>...</p>
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>

<section class="container-fluid" style="background: #161616">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 style="font-family: angry;" class="text-white mb-4">Chapter 1 : Harley Quinn, le commencement</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <p class="text-white-50">Jeune diplômée en psychiatrie, Harleen Quinzel travaille à l'asile d'Arkham. Sa passion pour les grands fous la pousse à s'occuper du Joker. Harleen tombe amoureuse du trop célèbre psychopathe et l'aide à s'évader à plusieurs reprises, avant d'être découverte. Son autorisation d'exercer lui est retirée et, ironie du sort, elle est internée dans l'hôpital psychiatrique où elle exerçait. Une bonne partie de celui-ci est détruite par un tremblement de terre qui secoue Gotham City, Harleen Quinzel en profite pour s'échapper en enfilant un costume d'arlequin (d'où le jeu de mot que constitue son nom) et elle part aider son nouveau mentor dans l'accomplissement de son destin. De son vrai nom Harleen Quinzel tire son alias Harley Quinn.</p>
    </div>
    
  </div>
  
</section>

<section class="container-fluid" style="background-color: #161616">
  <div class='row'>
    <hr style='color: white; height: 12px; width: 50%;'/>
  </div>
</section>


<section class="container-fluid" style="background: #161616">
    <div class="row justify-content-end">
      <div class="col-lg-4">
        <h3 style="font-family: angry;" class="text-white mb-4">Chapter 2 : La suite</h3>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-10 mx-auto">
        <p class="text-white-50">Sa relation amoureuse avec le Joker est marquée par l'excès. Maltraitée psychologiquement et physiquement par celui qu'elle appelle son « biquet », son « canard » ou son « poussin » selon le cas, elle revient néanmoins toujours vers lui. Cette relation est jalonnée de périodes de séparation à cause d'internements dans les murs d'Arkham ou bien de conflits qui secouent le couple régulièrement.

            Harley fait parfois équipe avec Poison Ivy. Quand s'y joint Catwoman, le duo devient un trio surnommé les Gotham City Sirens. Lors de son séjour dans une prison ultra secrète et protégée par le gouvernement américain, elle rencontre Deadshot, un tueur à gage plutôt futé. Lors d'une mission (voir Suicide Squad), ces deux méchants se rapprochent et le Joker prend ombrage de leur relation...</p>
      </div>
    </div>
  </section>