<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center row col-4 col-md-6">
    <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Joke's On You</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Vous cherchez des indices.?</h2>
          <a href="home" class="btn btn-primary js-scroll-trigger">Indice</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section style="background: #161616" id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 style="font-family: angry;" class="text-white mb-4">Joker's Blog</h2>
        <p class="text-white-50">J'ai caché quelques indice dans ce blog arrivé vous à les trouver? D'ailleurs le premier commence ici.
          <a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw">C'est bien ça</a>...</p>
      </div>
    </div>
    <img src="img/ipad.png" class="img-fluid" alt="">
  </div>
</section>

<section class="container-fluid" style="background: #161616">
  <div class="row">
    <div class="col-lg-6 mx-auto">
      <h3 style="font-family: angry;" class="text-white mb-4">Chapter 1</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, necessitatibus delectus! Placeat quidem amet dolor deserunt, eius sit ab laboriosam exercitationem nihil, tenetur unde, voluptatibus quam? Quisquam esse enim quaerat!</p>
    </div>
  </div>
</section>

<section class="container-fluid" style="background: #161616">
    <div class="row justify-content-end">
      <div class="col-lg-4">
        <h3 style="font-family: angry;" class="text-white mb-4">Chapter 2</h3>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-10 mx-auto">
        <p class="text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, necessitatibus delectus! Placeat quidem amet dolor deserunt, eius sit ab laboriosam exercitationem nihil, tenetur unde, voluptatibus quam? Quisquam esse enim quaerat!</p>
      </div>
    </div>
  </section>